.SignUp-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh; /* Ensure the section takes up at least the full viewport height */
  }
  


.SignUp-container {
    display: flex;
    width: 30%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border : solid ;
    border-radius: 8%;
    /* Your existing styling */
  }
  
  @media (max-width: 768px) {
    .SignUp-container{
      width: 80%;
    }
    
  }